* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#error_explanation {
  color: red;
}

table {
  margin: 50px 10px;
}

.newbook {
  width: 700px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  background-color: #440000;
  border: ridge 5px #fffddd;
  color: #FFFDDD;
}

li {
  list-style: none;
}

.flash_message {
  color: #00aa00;
  margin: 20px;
}